<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SadPencil.BatchMLPEncoder3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
        <SadPencil.BatchMLPEncoder3.Properties.Settings>
            <setting name="Eac3toExeFullname" serializeAs="String">
                <value/>
            </setting>
            <setting name="SurcodeExeFullname" serializeAs="String">
                <value/>
            </setting>
            <setting name="TempFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputFolderPath" serializeAs="String">
                <value/>
            </setting>
        </SadPencil.BatchMLPEncoder3.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
</configuration>
